<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="jobConfig" type="System.Configuration.NameValueSectionHandler" />
    <section name="crmConfig" type="System.Configuration.NameValueSectionHandler" />
    <section name="facebookConfig" type="System.Configuration.NameValueSectionHandler" />
    <section name="twitterConfig" type="System.Configuration.NameValueSectionHandler" />
    
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <variable name="logDirectory" value="${basedir}\logs" />
    <targets>
      <target name="winlog" xsi:type="EventLog" source="Social Listener" layout="${logger}: ${message} ${stacktrace:topFrames=5} ${exception} " />
      <target name="file" xsi:type="File" fileName="${logDirectory}\service.log" archiveFileName="${logDirectory}\{##}-service$-archive.log" archiveEvery="Day" archiveAboveSize="50000000" archiveNumbering="Rolling" layout="${date:format=HH\:mm\:ss} Level: ${level} ${logger} ${message} | ${stacktrace} | ${exception: format=ToString} " createDirs="true" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
      <logger name="*" minlevel="Info" writeTo="winlog" />
    </rules>
  </nlog>
  <jobConfig>
    <add key="Twitter.JobTriggerTime" value="0/20 * * * * ?" />
    <add key="Facebook.JobTriggerTime" value="0 0/10 * * * ?" />
  </jobConfig>
  <twitterConfig>
    <add key="Twitter.ConsumerKey" value="" />
    <add key="Twitter.ConsumerSecret" value="" />
  </twitterConfig>
  <facebookConfig>
    <add key="Facebook.ConsumerKey" value="" />
    <add key="Facebook.ConsumerSecret" value="" />
  </facebookConfig>
  <crmConfig>
    <add key="Crm.Host" value="" />
    <add key="Crm.Organisation" value="" />
    <add key="Crm.UserName" value="" />
    <add key="Crm.UserDomain" value="" />
    <add key="Crm.Password" value="" />
    
    <add key="HTTPSEnabled" value="false" />
    <add key="IFDEnabled" value="false" />

    <!-- Live Implementation -->
    <add key="LiveEnabled" value="false"/>
    <add key="LiveUrl" value=""/>
    <add key="HomeRealmUri" value="https://dev.crm4.dynamics.com/XRMServices/2011/Discovery.svc"/>
    <add key="HomeRealmOrg" value="crm.dynamics.com"/>
    <add key="LiveUserName" value=""/>
    <add key="LivePassword" value="" />
    <add key="LiveOrgUrl" value=""/>
  </crmConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>